[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "oh-my-zsh/themes/powerlevel10k"]
	path = oh-my-zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "oh-my-zsh/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
