#!/usr/bin/env sh

{{ if eq .chezmoi.os "linux" -}}
DST="$HOME/.fonts"
{{ else if eq .chezmoi.os "darwin" -}}
DST="$HOME/Library/Fonts"
{{ else -}}
  echo "invalid os"
  exit 1
{{ end -}}

mkdir -p "$DST"
cp -r `chezmoi source-path`/.fonts/* "$DST"
