env:
  TERM: xterm-256color

scrolling:
  history: 100000

font:
{{- if eq .chezmoi.os "linux" }}
  size: 10.0
  normal:
    family: SauceCodePro Nerd Font Mono
    style: Semibold
{{- else }}
  size: 14.0
  normal:
    family: SauceCodePro Nerd Font Mono
    style: Regular
{{- end }}
  bold:
    family: SauceCodePro Nerd Font Mono
    style: Bold
  italic:
    family: SauceCodePro Nerd Font Mono
    style: Italic
  bold_italic:
    family: SauceCodePro Nerd Font Mono
    style: Bold Italic

live_config_reload: true

key_bindings:
 - { key: K,      mods: Control,       mode: ~Vi|~Search, chars: "\x0c" }
 - { key: K,      mods: Control,       mode: ~Vi|~Search, action: ClearHistory }
{{- if eq .chezmoi.os "darwin" }}
 - { key: N,      mods: Command|Shift,                    action: CreateNewWindow }
 - { key: N,      mods: Command|Control,                  action: SpawnNewInstance }
 - { key: Left,   mods: Alt,                              chars: "\x1bb" }
 - { key: Right,  mods: Alt,                              chars: "\x1bf" }
{{- end }}

import:
  - ~/.config/alacritty/rose-pine.yml

